*{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}

 .body-wrapper{
/*    border: 15px solid green;*/
    box-sizing: border-box;

    display: flex;
    min-height: 70vh;
    flex-direction: row;
    padding:50px;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    align-self: stretch;
    
    justify-content: center;
    align-items: center;
    gap: 0px 0px;
    background-transition: 0.3s;
}


img{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.row{
    display: flex;
    flex-direction: row;
}

.slogan,
.hero-desc{
    padding-top:10px;
    padding-bottom:10px;
}

.slogan
.heading-title{
    color: #31429B;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 700;
    font-style: italic;
    line-height: 6px;
}

.cta{
    padding-top: 20px;
}

.hero-desc
.heading-title{
    color: #414141;
    font-family: "Poppins", Sans-serif;
    font-weight: 500;
    line-height: 30px;
}

.button{
    background-color: #31429B;
    border-radius: 5px 5px 5px 5px;
    padding: 18px 18px 18px 18px;
    color: #fff;
}

a.button {
    box-shadow: none;
    text-decoration: none;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .body-wrapper {
        text-align: center;
        width: 100%;
    }
        .slogan
    .heading-title{
        line-height: 1.2em;
    }
}

@media (max-width: 767px) {
    .body-wrapper {
        text-align: center;
        width: 100%;
    }

    #column-2{
        display:none;
    }

    .slogan
    .heading-title{
        color: #31429B;
        font-family: "Poppins", Sans-serif;
        font-size: 22px;
        font-weight: 700;
        font-style: italic;
        line-height: 1.2em;
    }
}